In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from ipywidgets import widgets

### State GDPs per Capita

- gdp: Measured in millions of dollars

In [2]:
state_gdp = pd.read_csv('./Data/csvData.csv')

In [3]:
state_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         50 non-null     object
 1   gdpPerCapita  50 non-null     float64
 2   gdp           50 non-null     int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ KB

In [4]:
state_gdp.sort_values(['gdpPerCapita', 'State'], ascending=False)

             State  gdpPerCapita      gdp
0         New York        0.0882  1701399
1    Massachusetts        0.0833   575635
2      Connecticut        0.0787   279653
3         Delaware        0.0773    76537
4       California        0.0762  3018337
5           Alaska        0.0757    54851
6       Washington        0.0740   576624
7     North Dakota        0.0723    55657
8       New Jersey        0.0715   634721
9         Illinois        0.0700   879947
10        Maryland        0.0689   417776
11         Wyoming        0.0687    39899
12          Hawaii        0.0664    93419
13       Minnesota        0.0657   374920
14        Colorado        0.0640   376994
15        Nebraska        0.0639   124742
16        Virginia        0.0633   544348
17    Pennsylvania        0.0627   803307
18   New Hampshire        0.0627    86046
19           Texas        0.0612  1818585
20            Iowa        0.0608   192608
21            Ohio        0.0588   689139
22    South Dakota        0.0586    52544
23       Wisconsin        0.0585   342470
24          Kansas        0.0581   169558
25    Rhode Island        0.0578    61341
26          Oregon        0.0567   243085
27         Georgia        0.0555   601503
28       Louisiana        0.0552   255492
29         Vermont        0.0548    34154
30            Utah        0.0546   180862
31         Indiana        0.0546   371629
32       Tennessee        0.0538   373663
33  North Carolina        0.0538   575605
34        Michigan        0.0537   537087
35          Nevada        0.0530   168752
36        Missouri        0.0524   323287
37        Oklahoma        0.0509   203250
38         Florida        0.0483  1059144
40      New Mexico        0.0482   101452
39           Maine        0.0482    65349
42        Kentucky        0.0472   211621
41         Arizona        0.0472   355311
43         Montana        0.0457    49635
44         Alabama        0.0455   224654
45   West Virginia        0.0448    79168
46  South Carolina        0.0444   234367
47        Arkansas        0.0428   129812
48           Idaho        0.0423    78640
49     Mississippi        0.0390   115749

### U.S. Vaccinations

In [5]:
us_vacc = pd.read_csv('./Data/us_state_vaccinations.csv', parse_dates=['date'])

- location: name of the state or federal entity.
- date: date of the observation.
- total_vaccinations: total number of doses administered. This is counted as a single dose, and may not equal the total number of people vaccinated, depending on the specific dose regime (e.g. people receive multiple doses). If a person receives one dose of the vaccine, this metric goes up by 1. If they receive a second dose, it goes up by 1 again.
- total_vaccinations_per_hundred: total_vaccinations per 100 people in the total population of the state.
- daily_vaccinations_raw: daily change in the total number of doses administered. It is only calculated for consecutive days. This is a raw measure provided for data checks and transparency, but we strongly recommend that any analysis on daily vaccination rates be conducted using daily_vaccinations instead.
- daily_vaccinations: new doses administered per day (7-day smoothed). For countries that don't report data on a daily basis, we assume that doses changed equally on a daily basis over any periods in which no data was reported. This produces a complete series of daily figures, which is then averaged over a rolling 7-day window. An example of how we perform this calculation can be found here.
- daily_vaccinations_per_million: daily_vaccinations per 1,000,000 people in the total population of the state.
- people_vaccinated: total number of people who received at least one vaccine dose. If a person receives the first dose of a 2-dose vaccine, this metric goes up by 1. If they receive the second dose, the metric stays the same.
- people_vaccinated_per_hundred: people_vaccinated per 100 people in the total population of the state.
- people_fully_vaccinated: total number of people who received all doses prescribed by the vaccination protocol. If a person receives the first dose of a 2-dose vaccine, this metric stays the same. If they receive the second dose, the metric goes up by 1.
- people_fully_vaccinated_per_hundred: people_fully_vaccinated per 100 people in the total population of the state.
- total_distributed: cumulative counts of COVID-19 vaccine doses recorded as shipped in CDC's Vaccine Tracking System.
- total_distributed_per_hundred: cumulative counts of COVID-19 vaccine doses recorded as shipped in CDC's Vaccine Tracking System per 100 people in the total population of the state.
- share_doses_used: share of vaccination doses administered among those recorded as shipped in CDC's Vaccine Tracking System.

In [6]:
us_vacc.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN

In [7]:
us_vacc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4833 entries, 0 to 4832
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 4833 non-null   datetime64[ns]
 1   location                             4833 non-null   object
 2   total_vaccinations                   4563 non-null   float64
 3   total_distributed                    4483 non-null   float64
 4   people_vaccinated                    4471 non-null   float64
 5   people_fully_vaccinated_per_hundred  4149 non-null   float64
 6   total_vaccinations_per_hundred       4251 non-null   float64
 7   people_fully_vaccinated              4389 non-null   float64
 8   people_vaccinated_per_hundred        4226 non-null   float64
 9   distributed_per_hundred              4238 non-null   float64
 10  daily_vaccinations_raw               4768 non-null   float64
 11  daily_vaccinations                   4768 non-null   float64
 12  daily_vaccinations_per_million       4441 non-null   float64
 13  share_doses_used                     4483 non-null   float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 528.7+ KB

In [8]:
# Inspect list of unique location values
us_vacc['location'].unique()

array(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'Bureau of Prisons', 'California', 'Colorado', 'Connecticut',
       'Delaware', 'Dept of Defense', 'District of Columbia',
       'Federated States of Micronesia', 'Florida', 'Georgia', 'Guam',
       'Hawaii', 'Idaho', 'Illinois', 'Indian Health Svc', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Long Term Care', 'Louisiana',
       'Maine', 'Marshall Islands', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York State', 'North Carolina', 'North Dakota',
       'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Republic of Palau', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas',
       'United States', 'Utah', 'Vermont', 'Veterans Health',
       'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

Notice that there are more locations in `us_vacc` than in the GDP.
- Want to exclude those locations and focus on the states
- Notice that there's a "New York State" in `us_vacc`. Curious what that data entails

In [9]:
nys_total_vacc = us_vacc[us_vacc['location'] == 'New York State'][['date',
                                                                   'total_vaccinations',
                                                                   'total_distributed',
                                                                   'daily_vaccinations',
                                                                   'people_fully_vaccinated']]
nys_total_vacc.sort_values(['date'], inplace=True)
nys_total_vacc.fillna(0, inplace = True)
nys_total_vacc.head()

,date,total_vaccinations,total_distributed,daily_vaccinations,people_fully_vaccinated
2960,2021-01-12,579532.0,1622100.0,0.0,36422.0
2961,2021-01-13,632473.0,1796850.0,52941.0,44512.0
2962,2021-01-14,688576.0,1872625.0,54522.0,0.0
2963,2021-01-15,757466.0,1884325.0,59311.0,73523.0
2964,2021-01-16,0.0,0.0,59662.0,0.0

### Pfizer

In [10]:
pfizer = pd.read_csv('./Data/COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Pfizer.csv',
                     parse_dates=['Week of Allocations'])

In [11]:
pfizer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1008 non-null   object
 1   Week of Allocations   1008 non-null   datetime64[ns]
 2   1st Dose Allocations  1008 non-null   int64
 3   2nd Dose Allocations  1008 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 31.6+ KB

In [12]:
pfizer.head()

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
0,Connecticut,2021-03-29,60840,60840
1,Maine,2021-03-29,23400,23400
2,Massachusetts,2021-03-29,117000,117000
3,New Hampshire,2021-03-29,23400,23400
4,Rhode Island,2021-03-29,18720,18720

In [13]:
# Check Jurisdiction data
pfizer['Jurisdiction'].unique()

array(['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire',
       'Rhode Island', 'Vermont', 'New Jersey', 'New York',
       'New York City', 'Puerto Rico', 'U.S. Virgin Islands', 'Delaware',
       'District of Columbia', 'Maryland', 'Pennsylvania', 'Philadelphia',
       'Virginia', 'West Virginia', 'Alabama', 'Florida', 'Georgia',
       'Kentucky', 'Mississippi', 'North Carolina', 'South Carolina',
       'Tennessee', 'Chicago', 'Illinois', 'Indiana', 'Michigan',
       'Minnesota', 'Ohio', 'Wisconsin', 'Arkansas', 'Louisiana',
       'New Mexico', 'Oklahoma', 'Texas', 'Iowa', 'Kansas', 'Missouri',
       'Nebraska', 'Colorado', 'Montana', 'North Dakota', 'South Dakota',
       'Utah', 'Wyoming', 'Arizona', 'California', 'Hawaii', 'Nevada',
       'American Samoa', 'Guam', 'Marshall Islands', 'Micronesia',
       'Mariana Islands', 'Palau', 'Alaska', 'Idaho', 'Oregon',
       'Washington', 'Federal Entities'], dtype=object)

Just like `us_vacc`, there are other locations in `pfizer` that include all U.S. territory.
- New York is represented as "New York" and "New York City"
- Data is aggregated by week and reported on Mondays

In [14]:
# Filter NY data to compare to us_vacc data
ny_pfizer = pfizer[pfizer['Jurisdiction'] == 'New York'].sort_values(['Week of Allocations'])
ny_pfizer

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
984,New York,2020-12-14,96525,96525
921,New York,2020-12-21,68250,68250
858,New York,2020-12-28,87750,87750
795,New York,2021-01-04,68250,68250
732,New York,2021-01-11,68250,68250
669,New York,2021-01-18,71175,71175
606,New York,2021-01-25,71175,71175
543,New York,2021-02-01,70200,70200
480,New York,2021-02-08,71175,71175
417,New York,2021-02-15,71175,71175
354,New York,2021-02-22,112320,112320
291,New York,2021-03-01,128700,128700
196,New York,2021-03-08,140400,140400
133,New York,2021-03-15,150930,150930
70,New York,2021-03-22,153270,153270
7,New York,2021-03-29,188370,188370

### Moderna

In [15]:
moderna = pd.read_csv('./Data/COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Moderna.csv', 
                      parse_dates=['Week of Allocations'])

In [16]:
moderna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          945 non-null    object
 1   Week of Allocations   945 non-null    datetime64[ns]
 2   1st Dose Allocations  945 non-null    int64
 3   2nd Dose Allocations  945 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 29.7+ KB

In [17]:
moderna['Jurisdiction'].unique()

array(['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire',
       'Rhode Island', 'Vermont', 'New Jersey', 'New York',
       'New York City', 'Puerto Rico', 'U.S. Virgin Islands', 'Delaware',
       'District of Columbia', 'Maryland', 'Pennsylvania', 'Philadelphia',
       'Virginia', 'West Virginia', 'Alabama', 'Florida', 'Georgia',
       'Kentucky', 'Mississippi', 'North Carolina', 'South Carolina',
       'Tennessee', 'Chicago', 'Illinois', 'Indiana', 'Michigan',
       'Minnesota', 'Ohio', 'Wisconsin', 'Arkansas', 'Louisiana',
       'New Mexico', 'Oklahoma', 'Texas', 'Iowa', 'Kansas', 'Missouri',
       'Nebraska', 'Colorado', 'Montana', 'North Dakota', 'South Dakota',
       'Utah', 'Wyoming', 'Arizona', 'California', 'Hawaii', 'Nevada',
       'American Samoa', 'Guam', 'Marshall Islands', 'Micronesia',
       'Mariana Islands', 'Palau', 'Alaska', 'Idaho', 'Oregon',
       'Washington', 'Federal Entities'], dtype=object)

In [18]:
ny_moderna = moderna[moderna['Jurisdiction'] == 'New York'].sort_values(['Week of Allocations'])
ny_moderna

,Jurisdiction,Week of Allocations,1st Dose Allocations,2nd Dose Allocations
921,New York,2020-12-21,196800,196800
858,New York,2020-12-28,68000,68000
795,New York,2021-01-04,67700,67700
732,New York,2021-01-11,68000,68000
669,New York,2021-01-18,71400,71400
606,New York,2021-01-25,71400,71400
543,New York,2021-02-01,94200,94200
480,New York,2021-02-08,103000,103000
417,New York,2021-02-15,111300,111300
354,New York,2021-02-22,111300,111300
291,New York,2021-03-01,111300,111300
196,New York,2021-03-08,111300,111300
133,New York,2021-03-15,111300,111300
70,New York,2021-03-22,111300,111300
7,New York,2021-03-29,111300,111300

### J & J

In [19]:
jj = pd.read_csv('./Data/COVID-19_Vaccine_Distribution_Allocations_by_Jurisdiction_-_Janssen.csv',
                 parse_dates=['Week of Allocations'])

In [20]:
jj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          252 non-null    object
 1   Week of Allocations   252 non-null    datetime64[ns]
 2   1st Dose Allocations  252 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 6.0+ KB

In [21]:
# Print unique Jurisdictions
jj['Jurisdiction'].unique()

array(['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire',
       'Rhode Island', 'Vermont', 'New Jersey', 'New York',
       'New York City', 'Puerto Rico', 'U.S. Virgin Islands', 'Delaware',
       'District of Columbia', 'Maryland', 'Pennsylvania', 'Philadelphia',
       'Virginia', 'West Virginia', 'Alabama', 'Florida', 'Georgia',
       'Kentucky', 'Mississippi', 'North Carolina', 'South Carolina',
       'Tennessee', 'Chicago', 'Illinois', 'Indiana', 'Michigan',
       'Minnesota', 'Ohio', 'Wisconsin', 'Arkansas', 'Louisiana',
       'New Mexico', 'Oklahoma', 'Texas', 'Iowa', 'Kansas', 'Missouri',
       'Nebraska', 'Colorado', 'Montana', 'North Dakota', 'South Dakota',
       'Utah', 'Wyoming', 'Arizona', 'California', 'Hawaii', 'Nevada',
       'American Samoa', 'Guam', 'Marshall Islands', 'Micronesia',
       'Mariana Islands', 'Palau', 'Alaska', 'Idaho', 'Oregon',
       'Washington', 'Federal Entities'], dtype=object)

In [22]:
ny_jj = jj[jj['Jurisdiction'] == 'New York'].sort_values(['Week of Allocations'])
ny_jj

    Jurisdiction Week of Allocations  1st Dose Allocations
196     New York          2021-03-01                 93700
133     New York          2021-03-15                 12900
70      New York          2021-03-22                 12900
7       New York          2021-03-29                 65800

### Location Check

In [65]:
jurisdiction_combined = pfizer['Jurisdiction'].append([moderna['Jurisdiction'], jj['Jurisdiction']]).unique()

In [66]:
jurisdiction_combined

array(['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire',
       'Rhode Island', 'Vermont', 'New Jersey', 'New York',
       'New York City', 'Puerto Rico', 'U.S. Virgin Islands', 'Delaware',
       'District of Columbia', 'Maryland', 'Pennsylvania', 'Philadelphia',
       'Virginia', 'West Virginia', 'Alabama', 'Florida', 'Georgia',
       'Kentucky', 'Mississippi', 'North Carolina', 'South Carolina',
       'Tennessee', 'Chicago', 'Illinois', 'Indiana', 'Michigan',
       'Minnesota', 'Ohio', 'Wisconsin', 'Arkansas', 'Louisiana',
       'New Mexico', 'Oklahoma', 'Texas', 'Iowa', 'Kansas', 'Missouri',
       'Nebraska', 'Colorado', 'Montana', 'North Dakota', 'South Dakota',
       'Utah', 'Wyoming', 'Arizona', 'California', 'Hawaii', 'Nevada',
       'American Samoa', 'Guam', 'Marshall Islands', 'Micronesia',
       'Mariana Islands', 'Palau', 'Alaska', 'Idaho', 'Oregon',
       'Washington', 'Federal Entities'], dtype=object)

In [73]:
# Locations not in us_vacc
not_in_us_vacc = [i for i in us_vacc['location'].unique() if i not in jurisdiction_combined]
not_in_us_vacc

['Bureau of Prisons',
 'Dept of Defense',
 'Federated States of Micronesia',
 'Indian Health Svc',
 'Long Term Care',
 'New York State',
 'Northern Mariana Islands',
 'Republic of Palau',
 'United States',
 'Veterans Health',
 'Virgin Islands']

In [74]:
# Locations not in individual vaccine allocations
not_in_indiv = [i for i in jurisdiction_combined if i not in us_vacc['location'].unique()]
not_in_indiv

['New York',
 'New York City',
 'U.S. Virgin Islands',
 'Philadelphia',
 'Chicago',
 'Micronesia',
 'Mariana Islands',
 'Palau',
 'Federal Entities']

## Comparing Numbers

In [36]:
# Join NY Pfizer, Moderna, and JJ
ny_joined = ny_pfizer.merge(ny_moderna,
                            how = 'outer', 
                            left_on = ['Jurisdiction', 'Week of Allocations'],
                            right_on = ['Jurisdiction', 'Week of Allocations'], 
                            suffixes = ['_pfizer', '_moderna']).merge(ny_jj,
                                                                      how = 'outer',
                                                                      left_on = ['Jurisdiction', 'Week of Allocations'],
                                                                      right_on = ['Jurisdiction', 'Week of Allocations'], 
                                                                      suffixes = ['_jj'])

In [37]:
ny_joined

,Jurisdiction,Week of Allocations,1st Dose Allocations_pfizer,2nd Dose Allocations_pfizer,1st Dose Allocations_moderna,2nd Dose Allocations_moderna,1st Dose Allocations
0,New York,2020-12-14,96525,96525,NaN,NaN,NaN
1,New York,2020-12-21,68250,68250,196800.0,196800.0,NaN
2,New York,2020-12-28,87750,87750,68000.0,68000.0,NaN
3,New York,2021-01-04,68250,68250,67700.0,67700.0,NaN
4,New York,2021-01-11,68250,68250,68000.0,68000.0,NaN
5,New York,2021-01-18,71175,71175,71400.0,71400.0,NaN
6,New York,2021-01-25,71175,71175,71400.0,71400.0,NaN
7,New York,2021-02-01,70200,70200,94200.0,94200.0,NaN
8,New York,2021-02-08,71175,71175,103000.0,103000.0,NaN
9,New York,2021-02-15,71175,71175,111300.0,111300.0,NaN
10,New York,2021-02-22,112320,112320,111300.0,111300.0,NaN
11,New York,2021-03-01,128700,128700,111300.0,111300.0,93700.0
12,New York,2021-03-08,140400,140400,111300.0,111300.0,NaN
13,New York,2021-03-15,150930,150930,111300.0,111300.0,12900.0
14,New York,2021-03-22,153270,153270,111300.0,111300.0,12900.0
15,New York,2021-03-29,188370,188370,111300.0,111300.0,65800.0

In [38]:
# Fill NaN with 0
ny_joined.fillna(0, inplace = True)

In [39]:
# Add column of 1st dose allocations
ny_joined['1st_dose_sum'] = ny_joined[['1st Dose Allocations_pfizer', '1st Dose Allocations_moderna', '1st Dose Allocations']].sum(axis = 1)

In [40]:
# Add column of 1st and 2nd dose allocations
ny_joined['total_dose_sum'] = ny_joined.loc[:,'1st Dose Allocations_pfizer':'1st Dose Allocations'].sum(axis = 1)

In [58]:
ny_joined['1st_dose_sum_rolled'] = ny_joined['1st_dose_sum'].cumsum()
ny_joined['total_dose_sum_rolled'] = ny_joined['total_dose_sum'].cumsum()

In [59]:
ny_joined

,Jurisdiction,Week of Allocations,1st Dose Allocations_pfizer,2nd Dose Allocations_pfizer,1st Dose Allocations_moderna,2nd Dose Allocations_moderna,1st Dose Allocations,1st_dose_sum,total_dose_sum,1st_dose_sum_rolled,total_dose_sum_rolled
0,New York,2020-12-14,96525,96525,0.0,0.0,0.0,96525.0,193050.0,96525.0,193050.0
1,New York,2020-12-21,68250,68250,196800.0,196800.0,0.0,265050.0,530100.0,361575.0,723150.0
2,New York,2020-12-28,87750,87750,68000.0,68000.0,0.0,155750.0,311500.0,517325.0,1034650.0
3,New York,2021-01-04,68250,68250,67700.0,67700.0,0.0,135950.0,271900.0,653275.0,1306550.0
4,New York,2021-01-11,68250,68250,68000.0,68000.0,0.0,136250.0,272500.0,789525.0,1579050.0
5,New York,2021-01-18,71175,71175,71400.0,71400.0,0.0,142575.0,285150.0,932100.0,1864200.0
6,New York,2021-01-25,71175,71175,71400.0,71400.0,0.0,142575.0,285150.0,1074675.0,2149350.0
7,New York,2021-02-01,70200,70200,94200.0,94200.0,0.0,164400.0,328800.0,1239075.0,2478150.0
8,New York,2021-02-08,71175,71175,103000.0,103000.0,0.0,174175.0,348350.0,1413250.0,2826500.0
9,New York,2021-02-15,71175,71175,111300.0,111300.0,0.0,182475.0,364950.0,1595725.0,3191450.0
10,New York,2021-02-22,112320,112320,111300.0,111300.0,0.0,223620.0,447240.0,1819345.0,3638690.0
11,New York,2021-03-01,128700,128700,111300.0,111300.0,93700.0,333700.0,573700.0,2153045.0,4212390.0
12,New York,2021-03-08,140400,140400,111300.0,111300.0,0.0,251700.0,503400.0,2404745.0,4715790.0
13,New York,2021-03-15,150930,150930,111300.0,111300.0,12900.0,275130.0,537360.0,2679875.0,5253150.0
14,New York,2021-03-22,153270,153270,111300.0,111300.0,12900.0,277470.0,542040.0,2957345.0,5795190.0
15,New York,2021-03-29,188370,188370,111300.0,111300.0,65800.0,365470.0,665140.0,3322815.0,6460330.0

In [62]:
nys_total_vacc.head(15)

,total_vaccinations,total_distributed,daily_vaccinations,people_fully_vaccinated
date,,,,
2021-01-12,579532.0,1622100.0,0.0,36422.0
2021-01-13,632473.0,1796850.0,52941.0,44512.0
2021-01-14,688576.0,1872625.0,54522.0,0.0
2021-01-15,757466.0,1884325.0,59311.0,73523.0
2021-01-16,0.0,0.0,59662.0,0.0
2021-01-17,0.0,0.0,59872.0,0.0
2021-01-18,0.0,0.0,60012.0,0.0
2021-01-19,1000319.0,1884325.0,60112.0,102187.0
2021-01-20,1046490.0,2057875.0,59145.0,106821.0
2021-01-21,1116441.0,2213975.0,61124.0,120801.0
2021-01-22,1203994.0,2367075.0,63790.0,142005.0
2021-01-23,1282515.0,2395950.0,66334.0,162685.0
2021-01-24,1365404.0,2395950.0,69502.0,176659.0
2021-01-25,1418313.0,2395950.0,68387.0,183915.0
2021-01-26,1453972.0,2401900.0,64808.0,189791.0

In [60]:
nys_total_vacc.set_index('date', inplace=True)

In [61]:
nys_total_vacc.resample('W-MON').max()

,total_vaccinations,total_distributed,daily_vaccinations,people_fully_vaccinated
date,,,,
2021-01-18,757466.0,1884325.0,60012.0,73523.0
2021-01-25,1418313.0,2395950.0,69502.0,183915.0
2021-02-01,1927665.0,2932775.0,73438.0,344325.0
2021-02-08,2418074.0,3378300.0,73211.0,554262.0
2021-02-15,2925186.0,3969050.0,85676.0,833444.0
2021-02-22,3711664.0,4171175.0,104996.0,1205614.0
2021-03-01,4355544.0,5757205.0,94610.0,1473773.0
2021-03-08,5416301.0,7010045.0,151537.0,1752004.0
2021-03-15,6443462.0,8237955.0,178982.0,2106643.0
2021-03-22,7522949.0,9586045.0,154212.0,2469786.0
2021-03-29,8194278.0,10822735.0,169931.0,2744807.0

In [ ]:
pfizer_state = widgets.Dropdown(description = 'State: ',
                                value = 'Alabama',
                                options = sorted(pfizer['Jurisdiction'].unique().tolist()))

pfizer_trace1 = go.Scatter(x = pfizer['Week of Allocations'],
                           y = pfizer['1st Dose Allocations'],
                           name = 'Pfizer 1st Dose Allocations')
pfizer_trace2 = go.Scatter(x = pfizer['Week of Allocations'],
                           y = pfizer['2nd Dose Allocations'],
                           name = 'Pfizer 2nd Dose Allocations')

pfizer_fig = go.FigureWidget(data=[pfizer_trace1, pfizer_trace2],
                             layout = go.Layout(title=dict(text='Pfizer Dose Allocations')))

In [ ]:
def validate():
    if pfizer_state.value in pfizer['Jurisdiction'].unique():
        return True
    else:
        return False
    
def response(change):
    if validate():
        temp_pfizer_df = pfizer[pfizer['Jurisdiction'] == pfizer_state.value]
    
    x = temp_pfizer_df['Week of Allocations']
    y1 = temp_pfizer_df['1st Dose Allocations']
    y2 = temp_pfizer_df['2nd Dose Allocations']
    
    with pfizer_fig.batch_update():
        pfizer_fig.data[0].x = x
        pfizer_fig.data[1].x = x
        pfizer_fig.data[0].y = y1
        pfizer_fig.data[1].y = y2

pfizer_state.observe(response, names='value')

In [ ]:
pfizer_container = widgets.HBox([pfizer_state])
widgets.VBox([pfizer_container,
             pfizer_fig])

In [ ]:
moderna_state = widgets.Dropdown(description = 'State: ',
                         value = 'Alabama',
                         options = sorted(moderna['Jurisdiction'].unique().tolist()))

moderna_trace1 = go.Scatter(x = moderna['Week of Allocations'],
                            y = moderna['1st Dose Allocations'],
                            name = 'Moderna 1st Dose Allocations')
moderna_trace2 = go.Scatter(x = moderna['Week of Allocations'],
                            y = moderna['2nd Dose Allocations'],
                            name = 'Moderna 2nd Dose Allocations')

moderna_fig = go.FigureWidget(data=[moderna_trace1, moderna_trace2],
                              layout = go.Layout(title=dict(text='Moderna Dose Allocations')))

In [ ]:
def validate():
    if moderna_state.value in moderna['Jurisdiction'].unique():
        return True
    else:
        return False
    
def response(change):
    if validate():
        temp_moderna_df = moderna[moderna['Jurisdiction'] == moderna_state.value]
    
    x = temp_moderna_df['Week of Allocations']
    y1 = temp_moderna_df['1st Dose Allocations']
    y2 = temp_moderna_df['2nd Dose Allocations']
    
    with moderna_fig.batch_update():
        moderna_fig.data[0].x = x
        moderna_fig.data[1].x = x
        moderna_fig.data[0].y = y1
        moderna_fig.data[1].y = y2

moderna_state.observe(response, names='value')

In [ ]:
moderna_container = widgets.HBox([moderna_state])
widgets.VBox([moderna_container,
             moderna_fig])

In [ ]:
jj_state = widgets.Dropdown(description = 'State: ',
                            value = 'Alabama',
                            options = sorted(jj['Jurisdiction'].unique().tolist()))

jj_trace = go.Scatter(x = jj['Week of Allocations'],
                      y = jj['1st Dose Allocations'],
                      name = 'Janssen 1st Dose Allocations')

jj_fig = go.FigureWidget(data=[jj_trace],
                         layout = go.Layout(title=dict(text='Janssen Dose Allocations')))

In [ ]:
def validate():
    if jj_state.value in jj['Jurisdiction'].unique():
        return True
    else:
        return False
    
def response(change):
    if validate():
        temp_jj_df = jj[jj['Jurisdiction'] == state.value]
    
    x = temp_jj_df['Week of Allocations']
    y = temp_jj_f['1st Dose Allocations']
    
    with jj_fig.batch_update():
        jj_fig.data[0].x = x
        jj_fig.data[0].y = y

jj_state.observe(response, names='value')

In [ ]:
jj_container = widgets.HBox([jj_state])
widgets.VBox([jj_container,
             jj_fig])

In [ ]:
vacc_state = widgets.Dropdown(description = 'State: ',
                         value = 'Alabama',
                         options = sorted(us_vacc['location'].unique().tolist()))

vacc_trace = go.Scatter(x = us_vacc['date'],
                        y = us_vacc['total_vaccinations'])

vacc_fig = go.FigureWidget(data=[vacc_trace],
                     layout = go.Layout(title=dict(text='Total Vaccinations')))

In [ ]:
def validate():
    if vacc_state.value in us_vacc['location'].unique():
        return True
    else:
        return False
    
def response(change):
    if validate():
        temp_vacc_df = us_vacc[us_vacc['location'] == vacc_state.value]
    
    x = temp_vacc_df['date']
    y = temp_vacc_df['total_vaccinations']
    
    with vacc_fig.batch_update():
        vacc_fig.data[0].x = x
        vacc_fig.data[0].y = y

vacc_state.observe(response, names='value')

In [ ]:
vacc_container = widgets.HBox([vacc_state])
widgets.VBox([vacc_container,
             vacc_fig])

In [ ]:
us_vacc_cats = ['date','location', 'total_vaccinations_per_hundred','people_vaccinated_per_hundred', 'distributed_per_hundred']
state_gdp_cats = ['State', 'gdpPerCapita']

In [ ]:
joined = pd.merge(state_gdp[state_gdp_cats],
                  us_vacc[us_vacc_cats],
                  how = 'left',
                  left_on = 'State',
                  right_on = 'location')

In [ ]:
joined.head()

In [ ]:
len(joined)

### Trends in U.S. Vaccinations

In [ ]:
# First 3 rows are header
us_trends = pd.read_csv('./Data/trends_in_number_of_covid19_vaccinations_in_the_us.csv', skiprows = 3, parse_dates=['Date'])

In [ ]:
us_trends.head(10)

In [ ]:
us_trends.info()

In [ ]:
us_trends[(us_trends['Program'] == 'US') & (us_trends['Date Type'] == 'Admin')]

In [ ]:
us_trends.groupby(['Date Type','Program']).count()